@using Task3.Models
@using Task3.Store.Models;

@model Task3.ViewModels.InventoryTypeCreateViewModel

<h1>Creating Inventory Type</h1>

<form asp-action="Create" asp-controller="InventoryType" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" type="text" class="form-control" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>

    <div class="flex-lg-row">
        <a asp-controller="InventoryType" asp-action="Index" class="btn btn-secondary">< Back</a>
        <button class="btn btn-success" type="submit">Create Inventory Type</button>
    </div>
</form>