@model List<Task3.ViewModels.SchoolViewModel>
@{
    ViewData["Title"] = "Forum Page";
}

<h1>Schools</h1>
<hr>
<a asp-controller="School" asp-action="Create" class="btn btn-success mb-3">+ Create School</a>
@if (Model.Any())
{
    <div class="list-group">
        @foreach (var item in Model)
        {
            <div class="list-group-item d-flex flex-column">
                <div class="d-flex justify-content-between">
                    <a asp-action="Details" asp-controller="School" asp-route-id="@item.Id">@item.Name</a>
                    <div style="display: flex; gap: 10px;">
                        @if (User.IsInRole("Admin"))
                        {
                            <a class="text-danger" asp-action="Delete" asp-controller="School" asp-route-id="@item.Id">Delete</a>
                            <a asp-action="Edit" asp-controller="School" asp-route-id="@item.Id">Edit</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="alert alert-info">
        No schools created yet.
    </div>
}

