@model Task3.ViewModels.EventCreateViewModel

<h1>Creating an event</h1>

<form asp-action="Create" asp-controller="Event" method="POST">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" type="text" class="form-control" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>

    <div class="form-group d-flex justify-content-between w-100">
        <div class="d-flex flex-column">
            <label asp-for="StartTime"></label>
            <input asp-for="StartTime" type="date" class="form-control" />
            <span class="text-danger" asp-validation-for="StartTime"></span>
        </div>

        <div class="d-flex flex-column ml-3">
            <label asp-for="EndTime"></label>
            <input asp-for="EndTime" type="date" class="form-control" />
            <span class="text-danger" asp-validation-for="EndTime"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Location"></label>
        <input asp-for="Location" type="text" class="form-control" />
        <span class="text-danger" asp-validation-for="Location"></span>
    </div>

    <div class="flex-lg-row">
        <a asp-controller="Event" asp-action="Index" class="btn btn-secondary">< Back</a>
        <button class="btn btn-success" type="submit">Save</button>
    </div>
</form>