@using Microsoft.AspNetCore.Identity;
@model List<Task3.ViewModels.EventViewModel>
@{
    ViewData["Title"] = "Events";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Events</li>
    </ol>
</nav>

<hr>
<a asp-controller="Event" asp-action="Create" class="btn btn-success mb-3">+ Create an event</a>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Location</th>
                <th scope="col">Date</th>         
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td scope="col"><a class="font-weight-bold" asp-action="Details" asp-controller="Event" asp-route-id="@item.Id">@item.Name</a></td>
                <td scope="col">@item.Location</td>
                <td scope="col">@(item.StartTime.Date.ToString("d") + " - " + item.EndTime.Date.ToString("d"))</td>          
            </tr>
            }
        </tbody>
    </table>
}

else
{
    <div class="alert alert-info">
        No events created yet.
    </div>
}

